body {
  padding-top: 70px; }

.navbar-default {
  background-color: #3b5998;
  border-color: #4c66a4; }

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5); }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #3d578e;
  color: #fff; }

.navbar-default .navbar-toggle {
  border-color: #fff; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3d578e; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.container h1:first-of-type {
  margin-top: 0; }
