.status-post
{
	background: white;
	border: 1px solid #e3e3e3;
	margin-bottom: 3em;
	padding: 0;

	textarea
	{
		border: none;
		border-radius: 0;
		box-shadow: none;
		resize: none;

		&:focus
		{
			box-shadow: none;
		}
	}

	.status-post-submit
	{
		background: #f6f7f8;
		border-top: 1px solid #e9e9e9;
		margin-bottom: 0;
		overflow: hidden;
		padding: .5em .5em;

		.btn
		{
			border-radius: 0;
			float: right;
		}
	}
}

.status-media
{
	background: white;
	border: 1px solid #e3e3e3;
	border-bottom: none;
	padding: 1em;

	h4
	{
		margin-bottom: 0;
	}
}

.comments__create-form textarea
{
	border: 1px solid #e3e3e3;
	border-top: none;
	border-radius: 0;
}

.comments
{
	margin-bottom: 5em;
}

.comments__comment
{
	background: darken(white, 10%);
	border: 1px solid darken(white, 15%);
	border-bottom: 1px solid #e3e3e3;
	margin-top: 0;
}